<script>
  import Login from './login/+page.svelte';
  import Register from './register/+page.svelte';
  import Listusers from './listusers/+page.svelte';
  import Navbar from './navbar/+page.svelte'
  import Home from './home/+page.svelte'
  import "../app.css"; 
  import { onMount } from 'svelte';

let currentRoute = null; // Set a default route
onMount(() => {
        if (typeof window !== 'undefined') {
            window.addEventListener('routechange', (event) => {
                currentRoute = event.detail.route;
            });
        }
        // Ocultar el contenido de la ruta actual cuando se monta el componente
        currentRoute = null;
    });

</script>
<div class="flex flex-col min-h-screen">
 <!-- header here -->
<nav class="bg-gray-800">
  <Navbar />
</nav>
  <main class="flex-grow flex flex-col p-4 max-w-4xl mx-auto">
    <slot />
    {#if currentRoute === 'register'}
        <Register/>
    {:else if currentRoute === 'listusers'}
        <Listusers/>
    {/if}
  </main>

  <footer class="flex flex-col justify-center items-center py-3">
   <!-- <p>visit <a href="https://kit.svelte.dev" class="font-bold">kit.svelte.dev</a> to learn SvelteKit</p> -->
  <!-- footer here -->
</div>
