<script>
  import { onMount } from 'svelte';
//  import Icon from '../../components/atoms/Icon.svelte';

  let users = [];

  async function getUsers() {
    try {
      const response = await fetch('http://192.168.1.67:3000/api/users/listusers');
      if (!response.ok) {
        throw new Error('Failed to fetch users');
      }
      users = await response.json();
    } catch (error) {
      console.error('Error fetching users:', error);
    }
  }

  // Fetch users when the component is mounted
  onMount(getUsers);
</script>

<h1 class="text-2xl font-bold mb-4">Users</h1>

{#if users.length > 0}
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
          <!-- Add more table headers for additional user properties -->
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
           <!-- <Icon classString="text-blue-500" styleString="fill: yellow;" />-->
          </th>

        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {#each users as user}
          <tr class="hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap">{user.name}</td>
            <td class="px-6 py-4 whitespace-nowrap">{user.email}</td>
            <!-- Add more table cells for additional user properties -->
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
{:else}
  <p>No users found.</p>
{/if}
