<!-- Atom: Button.svelte -->
<script>
  export let type;
  export let text;
</script>

<button type={type} class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{text}</button>

