<script>
  import { goto } from '$app/navigation';

function handleRouteChange(route) {
    // Dispatch custom event to indicate route change
    window.dispatchEvent(new CustomEvent('routechange', { detail: { route } }));
}
</script>
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-12">
      <div class="flex-shrink-0">
        <button on:click={()=>goto('home')}>
     <!--     <img class="h-8 w-auto" src="logo.png" alt="Wazy Tools">  -->
     <span class="text-white font-bold">Wazy Tools</span>

      </div>

      <!-- Navbar links -->
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          <button on:click={()=>goto('reviews')} class="text-gray-300 hover:text-white">Reviews</button>
          <button on:click={()=>goto('listproducts')} class="text-gray-300 hover:text-white">Products</button>
          </div>
      </div>
    </div>
  </div>
</nav>


<main class="container mx-auto my-4">
  <slot></slot>
</main>
