<script>

  </script>
  
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-3xl font-bold mb-4">Coming Soon</h1>
    <p class="text-gray-600 mb-4">This page is under construction. Please check back later.</p>
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/">Go to Home</a>
  </div>
  
  