body {
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  margin: 0;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  text-align: center;
}

h1 {
  color: #333;
}
h2{
  color: #333;	
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #101010;
}

/* Add a green background color to the active link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}
button:hover {
  background-color: #45a049;
}
#logo{
  color:#4caf50	    
}
.main_sec{
display: flex;
justify-content: center;
align-items: center;
height: 650px;
margin: 2%;
}
.subs_sec{
display: flex;
justify-content: space-around;
align-items: center;
height: 650px;
margin: 2%;

}
.sponsors_sec{
display: flex;
justify-content: space-around;
align-items: center;
height: 250px;
margin: 2%;
}
.title{
font-size: 70px;
}
