<!-- Home.svelte -->
<script>
  // Import the Login component
  import Login from '../login/+page.svelte';
  import milwaukee from '../../assets/brands/Logo-Milwaukee.jpg'
  import bosch from '../../assets/brands/Bosch-Logo.png'
  import dewalt from '../../assets/brands/dewalt-logo.png'
  import craftsman from '../../assets/brands/Craftsman-Logo.png'

  let visible = true;

	export const route = {
    // Define the root URL ("/") as the default route
    path: '/',
    // Render the Home component when the root URL is visited
    async load() {
      return { component: Home };
    },
  };
</script>

<div class="flex flex-col md:flex-row items-center justify-around h-screen">  <!-- Left side content (title, subtitle, description) -->
  <div class="md:w-1/2 p-8">
    <h1 class="text-4xl font-bold mb-4">Wellcome to Wazy Tools</h1>
    <h2 class="text-2xl font-semibold mb-2">Tools reviews and shop guide</h2>
    <p class="text-lg text-gray-600 mb-4">Explore our curated collection of tools and equipment reviews, find the perfect products for your projects, and shop with confidence on different sites.</p>
  </div>

  <!-- Right side content (login component) -->
  <div class="md:w-1/2 p-8">
    <Login />
  </div>
</div>
<!-- Our Brands section -->
<section class="py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-center">
      <h2 class="text-2xl font-semibold mb-4">Our Brands</h2>
      <br>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      <!-- Brand logos -->
      <div class="flex justify-center items-center">
        <img src={dewalt} alt="DeWalt" class="h-16" />
      </div>
      <div class="flex justify-center items-center">
        <img src={bosch} alt="Bosch" class="h-16" />
      </div>
      <div class="flex justify-center items-center">
       <img src={craftsman} alt="Craftsman" class="h-16"/>
      </div>
      <div class="flex justify-center items-center">
        <img src={milwaukee} alt="Milwaukee" class="h-16"/>
      </div>
      <!-- Add more brand logos as needed -->
    </div>
  </div>
</section>
