<!-- ProductForm.svelte -->

<script>
  import { createEventDispatcher } from 'svelte';
  
  // Variables de estado para los campos del formulario
  let name = '';
  let brand = '';
  let image_url = '';
  let toggle = true

  const dispatch = createEventDispatcher();

  // Función para crear un producto
  async function createProduct() {
      try {
          const response = await fetch('http://192.168.1.67:3000/api/products/createproduct', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ name, brand, image_url })
          });

          if (!response.ok) {
              throw new Error('Error al crear el producto');
          }

          // Producto creado exitosamente
          console.log('Producto creado exitosamente');
      } catch (error) {
          console.error('Error:', error.message);
          // Manejar el error como mejor convenga a tu aplicación
      }
  }

  // Función para cancelar y ocultar el componente CreateProduct
  function cancel() {
    dispatch('cancel');
    toggle = false
  }
</script>
{#if toggle}
<div class="bg-white rounded-lg shadow-lg container p-8">
  <form on:submit|preventDefault={createProduct} class="max-w-sm mx-auto">
      <h2 class="text-2xl font-bold mb-6 text-center">Nuevo Producto</h2>

      <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
              Nombre
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Nombre del producto" bind:value={name}>
      </div>
      <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="brand">
              Marca
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="brand" type="text" placeholder="Marca del producto" bind:value={brand}>
      </div>
      <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Crear Producto
          </button>
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" on:click={cancel}>
              Cancelar
          </button>
      </div>
  </form>
</div>
{/if}