<script>
    import { apiGet } from '../lib/api.js';
  
    let users = [];
  
    apiGet('http://192.168.1.67/api/users/listusers')
      .then(res => res.json())
      .then(data => {
        users = data;
      });
  
  </script>
  
  <div class="p-8 max-w-3xl mx-auto">
  
    <h1 class="text-2xl font-bold mb-6">Dashboard</h1>
  
    <div class="bg-white overflow-hidden shadow rounded-lg">
  
      <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Latest Users
        </h3>
      </div>
  
      <ul class="divide-y divide-gray-200">
        {#each users as user}
          <li class="px-4 py-4 flex items-center sm:px-6">
            <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
              <p class="truncate text-sm font-medium text-indigo-600">
                {user.name}
              </p>
            </div>
          </li> 
        {/each}
      </ul>
    </div>
  </div>
 