<script>
  import { goto } from '$app/navigation';
  
  let visible = true;

function toggleVissible() {
    visible = !visible
}

  let email = '';
  let password = '';


  async function handleLogin(e) {
    e.preventDefault(); 
    try {
      const response = await fetch('http://localhost:3000/api/users/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email, password }) 
      });

      if (!response.ok) {
        throw new Error('HTTP Error: ' + response.status);  
      }

      const data = await response.json();
      localStorage.setItem('token', data.token); 

      goto('/dashboard');

    } catch (error) {

      if(error.message.includes('401')) {
        alert('Invalid credentials');
      } else {
        alert('An unexpected error occurred');
        console.log(error);  
      }

    }

  }
    
</script>

{#if visible}

<div class="flex justify-center items-center h-screen">
  <div class="bg-white rounded-lg shadow-lg p-8 max-w-md w-full">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">
          Email
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="email"
          placeholder="Enter your email"
          
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 font-bold mb-2" for="password">
          Password
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          placeholder="Enter your password"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          on:click={handleLogin}
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >
          Login
        </button>
      </div>
    </form>
    <p class="mt-4 text-center">
      Don't have an account yet?
      <a href="/register" class="text-blue-500 hover:text-blue-700" {toggleVissible}> Register</a>
    </p>
  </div>
</div>

{/if}
