<script>
import { goto } from '$app/navigation';

  let name = '';
  let email = '';
  let password = '';
  let address = '';
  let phone = '';
  let role = 'user'; // Set role to 'user' by default

  function handleRegister() {
    const data = {
      name,
      email,
      password,
      address,
      phone,
      role
    };

    fetch('http://localhost:3000/api/users/register', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      console.log('Registration successful:', data);
      goto('/listusers');

     // navigate('/login');
    })
    .catch(error => {
      console.error('There was a problem registering the user:', error);
      console.log(data)
    });
  }
</script>

<div class="flex justify-center items-center h-screen">
  <div class="bg-white rounded-lg shadow-lg p-8 max-w-xl w-full">
    <h2 class="text-2xl font-bold mb-6 text-center">Register</h2>
    <form>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-4">
      <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name"
            type="text"
            placeholder="Enter your name"
            bind:value={name}
          />
        </div>
        <div class="w-full md:w-1/2 px-4 mb-4">
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="email"
            placeholder="Enter your email"
            bind:value={email}
          />
        </div>
        <div class="w-full md:w-1/2 px-4 mb-4">
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            placeholder="Enter your password"
            bind:value={password}
          />
        </div>
        <div class="w-full md:w-1/2 px-4 mb-4">
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="address"
            type="text"
            placeholder="Enter your address"
            bind:value={address}
          />
        </div>
        <div class="w-full md:w-1/2 px-4 mb-4">
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="phone"
            type="tel"
            placeholder="Enter your phone number"
            bind:value={phone}
          />
        </div>
        <div class="w-full md:w-1/2 px-4 mb-4">
        </div>
      </div>
      <div class="flex items-center justify-center mt-6">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          on:click={handleRegister}
        >
          Register
        </button>
      </div>
    </form>
    <p class="mt-4 text-center">
      Already have an account?
      <a href="/login" class="text-blue-500 hover:text-blue-700"> Login</a>
    </p>
  </div>
</div>

