<script>
  import { onMount, onDestroy } from 'svelte';
  import { createEventDispatcher } from 'svelte';

  import CreateProduct from '../createproduct/+page.svelte'

  let products = [];

  async function getProducts() {
      try {
          const response = await fetch('http://localhost:3000/api/products/listproducts');
          if (!response.ok) {
              throw new Error('Error al obtener los productos');
          }
          products = await response.json();
      } catch (error) {
          console.error('Error al obtener los productos:', error);
      }
  }

  let showCreateProduct = false; // Variable to toggle visibility of CreateProduct component

    // Function to handle creation of product
    async function handleCreateProduct() {
        // Call the createProduct function from your API
        await createProduct();

        // Hide the CreateProduct component after creating the product
        showCreateProduct = false;
    }

    const dispatch = createEventDispatcher();

    // Function to toggle visibility of CreateProduct component
    function toggleCreateProduct() {
        showCreateProduct = !showCreateProduct;
        if(showCreateProduct) {
            // Dispatch a custom event to notify other components about the toggle
            dispatch('toggleCreateProduct');
        }
    }
  // Fetch products when the component is mounted
  onMount(getProducts);

  async function deleteProduct(productId) {
        try {
            const response = await fetch(`http://192.168.1.67:3000/api/products/delete/${productId}`, {
                method: 'DELETE'
            });

            if (!response.ok) {
                throw new Error('Error al eliminar el producto');
            }

            // Eliminar el producto de la lista localmente
            products = products.filter(product => product.id !== productId);
            
            // Dispatch custom event to notify parent components about product deletion
            dispatch('productDeleted', { productId });
        } catch (error) {
            console.error('Error:', error.message);
            // Manejar error
        }
    }

    onMount(getProducts);

</script>
<div class="relative">
    <div class="flex-1 mr-4">
    <div class="h-screen flex flex-col">
        <div class="p-4 flex items-start justify-between">
            <h1 class="text-2xl font-bold">Productos</h1>
            {#if products.length > 0}
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" on:click={toggleCreateProduct}>
                    +
                </button>
            {/if}
    </div>
    <div class="flex-1 overflow-y-auto">
      {#if products.length > 0}
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
          {#each products as product}
          <div class="bg-white shadow-md rounded-md overflow-hidden">
              <div class="p-4">
                  <h2 class="text-lg font-semibold mb-2">{product.name}</h2>
                  <p class="text-gray-600">{product.brand}</p>
                  <!-- Agregar más detalles del producto si es necesario -->
                  <div class="mt-4 flex justify-end">
                      <button class="text-blue-600 hover:text-blue-900 mr-2" title="Editar">
                          Editar
                      </button>
                      <button class="text-red-600 hover:text-red-900 mr-2" title="Eliminar"  on:click={() => deleteProduct(product.id)}>
                          Eliminar
                      </button>
                      <button class="text-blue-600 hover:text-blue-900 mr-2" title="Review">
                          Review
                      </button>
                  </div>
              </div>
          </div>
          {/each}
      </div>
      {:else}
      <div class="flex flex-col items-center justify-center flex-1">
          <p class="mb-4">No se encontraron productos.</p>
          <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4" href="/createproduct">Crear Producto</a>
      </div>
      {/if}
  </div>
  </div>
</div>
{#if showCreateProduct}
<div class="absolute inset-0 flex items-center justify-center">
<div class="bg-red-200 flex flex-col items-center justify-center flex-1">
    <CreateProduct on:createProduct={handleCreateProduct} />
</div>
</div>
{/if}
</div>